In [81]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [82]:
df = pd.read_csv('finanzas-hotel-bookings.csv')
df.sample(5)

/var/folders/sg/x17x70c54nq9kk2ks_m66x280000gp/T/ipykernel_11313/4109133129.py:1: DtypeWarning: Columns (1,2,5,13,14,15,16,20,21,26,30,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('finanzas-hotel-bookings.csv')

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
136977,136977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13666,13666,Resort Hotel,True,253.0,NaN,August,34.0,25.0,2.0,4.0,2.0,0.0,0.0,BB,ESP,NaN,NaN,0.0,NaN,0.0,A,A,0.0,240.0,NaN,0.0,Transient,153.75,0.0,1.0,Canceled,2017-01-07 00:00:00,NaN
157001,157001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HB
65695,65695,City Hotel,True,82.0,NaN,April,NaN,6.0,0.0,3.0,2.0,0.0,0.0,BB,NaN,Online TA,NaN,0.0,0.0,0.0,D,D,0.0,9.0,NaN,0.0,Transient,127.80,0.0,0.0,Canceled,2017-01-15 00:00:00,NaN
120932,120932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [83]:
#Creamos la función para explorar los datos. 

def exploracion_datos(df):
    print('_____________ INFORMACIÓN GENERAL DEL DATAFRAME ____________\n')
    print(df.info())

    print('___________________ FORMA DEL DATAFRAME ____________________\n')
    
    print(f"El número de filas que tenemos es de {df.shape[0]}.\nEl número de columnas es de {df.shape[1]}\n")
    

    print('_______________ NULOS, ÚNICOS Y DUPLICADOS _________________\n')
    
    print('La cantidad de valores NULOS por columna es de:\n')
    print(df.isnull().sum())
    print('____________________________________________________________\n')

    print('La cantidad de valores ÚNICOS por columna es de:\n')
        
    for columna in df.columns:
        cantidad_valores_unicos = len(df[columna].unique())
    
        print(f'La columna {columna}: {cantidad_valores_unicos}')

    """ Otra forma más rápida de obtener la lista de valores únicos por columna es usando df.nunique()"""

    print('____________________________________________________________\n')

    print('La cantidad de valores DUPLICADOS por columna es de:\n')

    """En análisis posteriores hemos detectado que hay columnas con valores duplicados que nos interesa filtrar, 
    así que vamos a realizar otro bucle for para iterar por todas las columnas del DF y obtener los duplicados de cada una de ellas."""

    for columna in df.columns:
        cantidad_duplicados = df[columna].duplicated().sum()
    
        print(f'La columna {columna}: {cantidad_duplicados}')


    print('____________________ RESUMEN ESTADÍSTICO ____________________')
    print('____________________ Variables Numéricas __________________\n')
    print(df.describe().T)
    
    print('___________________ Variables Categóricas _________________\n')
    print(df.describe(include='object').T)

In [84]:
exploracion_datos(df)

_____________ INFORMACIÓN GENERAL DEL DATAFRAME ____________

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182877 entries, 0 to 182876
Data columns (total 33 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      182877 non-null  int64
 1   hotel                           119390 non-null  object
 2   is_canceled                     119390 non-null  object
 3   lead_time                       119490 non-null  float64
 4   arrival_date_year               64829 non-null   float64
 5   arrival_date_month              119390 non-null  object
 6   arrival_date_week_number        101004 non-null  float64
 7   arrival_date_day_of_month       119271 non-null  float64
 8   stays_in_weekend_nights         119490 non-null  float64
 9   stays_in_week_nights            119490 non-null  float64
 10  adults                          119428 non-null  float64
 11  children                        69302 non-null   float64
 12  babies                          119431 non-null  float64
 13  meal                            119390 non-null  object
 14  country                         65054 non-null   object
 15  market_segment                  59934 non-null   object
 16  distribution_channel            105899 non-null  object
 17  is_repeated_guest               114376 non-null  float64
 18  previous_cancellations          76228 non-null   float64
 19  previous_bookings_not_canceled  119390 non-null  float64
 20  reserved_room_type              79275 non-null   object
 21  assigned_room_type              119390 non-null  object
 22  booking_changes                 119418 non-null  float64
 23  agent                           103050 non-null  float64
 24  company                         3870 non-null    float64
 25  days_in_waiting_list            119390 non-null  float64
 26  customer_type                   94199 non-null   object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  float64
 29  total_of_special_requests       119390 non-null  float64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         106514 non-null  object
 32  0                               42951 non-null   object
dtypes: float64(19), int64(1), object(13)
memory usage: 46.0+ MB
None
___________________ FORMA DEL DATAFRAME ____________________

El número de filas que tenemos es de 182877.
El número de columnas es de 33

_______________ NULOS, ÚNICOS Y DUPLICADOS _________________

La cantidad de valores NULOS por columna es de:

Unnamed: 0                             0
hotel                              63487
is_canceled                        63487
lead_time                          63387
arrival_date_year                 118048
arrival_date_month                 63487
arrival_date_week_number           81873
arrival_date_day_of_month          63606
stays_in_weekend_nights            63387
stays_in_week_nights               63387
adults                             63449
children                          113575
babies                             63446
meal                               63487
country                           117823
market_segment                    122943
distribution_channel               76978
is_repeated_guest                  68501
previous_cancellations            106649
previous_bookings_not_canceled     63487
reserved_room_type                103602
assigned_room_type                 63487
booking_changes                    63459
agent                              79827
company                           179007
days_in_waiting_list               63487
customer_type                      88678
adr                                63487
required_car_parking_spaces        63487
total_of_special_requests          63487
reservation_status                 63487
reservation_status_date            76363
0                                 139926
dtype: int64
____________________________________________________________

La cantidad de valores ÚNICOS por columna es de:

La columna Unnamed: 0: 182877
La columna hotel: 3
La columna is_canceled: 3
La columna lead_time: 580
La columna arrival_date_year: 4
La columna arrival_date_month: 16
La columna arrival_date_week_number: 54
La columna arrival_date_day_of_month: 32
La columna stays_in_weekend_nights: 118
La columna stays_in_week_nights: 136
La columna adults: 31
La columna children: 15
La columna babies: 15
La columna meal: 6
La columna country: 164
La columna market_segment: 9
La columna distribution_channel: 6
La columna is_repeated_guest: 3
La columna previous_cancellations: 22
La columna previous_bookings_not_canceled: 74
La columna reserved_room_type: 11
La columna assigned_room_type: 13
La columna booking_changes: 23
La columna agent: 334
La columna company: 311
La columna days_in_waiting_list: 129
La columna customer_type: 5
La columna adr: 8880
La columna required_car_parking_spaces: 6
La columna total_of_special_requests: 7
La columna reservation_status: 4
La columna reservation_status_date: 992
La columna 0: 1589
____________________________________________________________

La cantidad de valores DUPLICADOS por columna es de:

La columna Unnamed: 0: 0
La columna hotel: 182874
La columna is_canceled: 182874
La columna lead_time: 182297
La columna arrival_date_year: 182873
La columna arrival_date_month: 182861
La columna arrival_date_week_number: 182823
La columna arrival_date_day_of_month: 182845
La columna stays_in_weekend_nights: 182759
La columna stays_in_week_nights: 182741
La columna adults: 182846
La columna children: 182862
La columna babies: 182862
La columna meal: 182871
La columna country: 182713
La columna market_segment: 182868
La columna distribution_channel: 182871
La columna is_repeated_guest: 182874
La columna previous_cancellations: 182855
La columna previous_bookings_not_canceled: 182803
La columna reserved_room_type: 182866
La columna assigned_room_type: 182864
La columna booking_changes: 182854
La columna agent: 182543
La columna company: 182566
La columna days_in_waiting_list: 182748
La columna customer_type: 182872
La columna adr: 173997
La columna required_car_parking_spaces: 182871
La columna total_of_special_requests: 182870
La columna reservation_status: 182873
La columna reservation_status_date: 181885
La columna 0: 181288
____________________ RESUMEN ESTADÍSTICO ____________________
____________________ Variables Numéricas __________________

                                   count          mean           std      min  \
Unnamed: 0                      182877.0  91438.000000  52792.186927     0.00
lead_time                       119490.0    104.172628    106.975949     0.00
arrival_date_year                64829.0   2016.156196      0.706674  2015.00
arrival_date_week_number        101004.0     27.175785     13.613871     1.00
arrival_date_day_of_month       119271.0     15.795977      8.780503     1.00
stays_in_weekend_nights         119490.0      0.939461      1.082472     0.00
stays_in_week_nights            119490.0      2.515068      1.976511     0.00
adults                          119428.0      6.244423     14.574814     0.00
children                         69302.0      0.125162      0.688305     0.00
babies                          119431.0      0.019903      0.433366     0.00
is_repeated_guest               114376.0      0.031877      0.175674     0.00
previous_cancellations           76228.0      0.109317      1.028093     0.00
previous_bookings_not_canceled  119390.0      0.137097      1.497437     0.00
booking_changes                 119418.0      0.232737      0.770795     0.00
agent                           103050.0     86.693382    110.774548     1.00
company                           3870.0    188.828424    131.473039     6.00
days_in_waiting_list            119390.0      2.321149     17.594721     0.00
adr                             119390.0    101.831122     50.535790    -6.38
required_car_parking_spaces     119390.0      0.062518      0.245291     0.00
total_of_special_requests       119390.0      0.571363      0.792798     0.00

                                     25%        50%       75%            max
Unnamed: 0                      45719.00  91438.000  137157.0  182876.000000
lead_time                          18.00     69.000     161.0     737.000000
arrival_date_year                2016.00   2016.000    2017.0    2017.000000
arrival_date_week_number           16.00     28.000      38.0      53.000000
arrival_date_day_of_month           8.00     16.000      23.0      31.000000
stays_in_weekend_nights             0.00      1.000       2.0      19.914715
stays_in_week_nights                1.00      2.000       3.0      50.000000
adults                              2.00      2.000       2.0      59.000000
children                            0.00      0.000       0.0      19.000000
babies                              0.00      0.000       0.0      19.000000
is_repeated_guest                   0.00      0.000       0.0       1.000000
previous_cancellations              0.00      0.000       0.0      26.000000
previous_bookings_not_canceled      0.00      0.000       0.0      72.000000
booking_changes                     0.00      0.000       0.0      21.000000
agent                               9.00     14.000     229.0     535.000000
company                            62.00    178.000     270.0     543.000000
days_in_waiting_list                0.00      0.000       0.0     391.000000
adr                                69.29     94.575     126.0    5400.000000
required_car_parking_spaces         0.00      0.000       0.0       8.000000
total_of_special_requests           0.00      0.000       1.0       5.000000
___________________ Variables Categóricas _________________

                          count unique                  top   freq
hotel                    119390      2           City Hotel  79330
is_canceled              119390      2                False  75166
arrival_date_month       119390     15               August  13877
meal                     119390      5                   BB  92310
country                   65054    163                  PRT  26577
market_segment            59934      8            Online TA  28331
distribution_channel     105899      5                TA/TO  86822
reserved_room_type        79275     10                    A  57202
assigned_room_type       119390     12                    A  74053
customer_type             94199      4            Transient  70610
reservation_status       119390      3            Check-Out  75166
reservation_status_date  106514    991  2015-10-21 00:00:00   1298
0                         42951   1588                  0.0  12780

In [85]:
print('Porcentahe de nulos:')

porcentaje_nulos = (df.isnull().sum() / df.shape[0]) * 100
porcentaje_nulos = porcentaje_nulos.round(2)
print(porcentaje_nulos)

Porcentahe de nulos:
Unnamed: 0                         0.00
hotel                             34.72
is_canceled                       34.72
lead_time                         34.66
arrival_date_year                 64.55
arrival_date_month                34.72
arrival_date_week_number          44.77
arrival_date_day_of_month         34.78
stays_in_weekend_nights           34.66
stays_in_week_nights              34.66
adults                            34.69
children                          62.10
babies                            34.69
meal                              34.72
country                           64.43
market_segment                    67.23
distribution_channel              42.09
is_repeated_guest                 37.46
previous_cancellations            58.32
previous_bookings_not_canceled    34.72
reserved_room_type                56.65
assigned_room_type                34.72
booking_changes                   34.70
agent                             43.65
company                           97.88
days_in_waiting_list              34.72
customer_type                     48.49
adr                               34.72
required_car_parking_spaces       34.72
total_of_special_requests         34.72
reservation_status                34.72
reservation_status_date           41.76
0                                 76.51
dtype: float64

In [86]:
df['adr'].value_counts()

adr
62.00     3754
75.00     2715
90.00     2473
65.00     2418
0.00      1959
          ...
89.43        1
63.07        1
55.69        1
49.51        1
157.71       1
Name: count, Length: 8879, dtype: int64

In [87]:
df.drop(columns=['0', 'company', 'Unnamed: 0'], inplace= True)

In [89]:
columnas_categoricas = df.select_dtypes(include = ['object'])
columnas_categoricas

,hotel,is_canceled,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,False,July,BB,PRT,NaN,Direct,C,C,Transient,Check-Out,2015-07-01 00:00:00
1,Resort Hotel,False,July,BB,NaN,NaN,Direct,NaN,C,Transient,Check-Out,2015-07-01 00:00:00
2,Resort Hotel,False,July,BB,GBR,NaN,Direct,A,C,Transient,Check-Out,2015-07-02 00:00:00
3,Resort Hotel,False,July,BB,GBR,Corporate,Corporate,A,A,Transient,Check-Out,2015-07-02 00:00:00
4,Resort Hotel,False,July,BB,NaN,Online TA,TA/TO,A,A,Transient,Check-Out,2015-07-03 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
182872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182873,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
columnas_numericas = df.select_dtypes(include = ['number'])
columnas_numericas

,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
0,342.000000,2015.0,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,0.0,NaN,0.0,3.0,NaN,0.0,0.0,0.0,0.0
1,737.000000,NaN,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,0.0,0.0,0.0,4.0,NaN,0.0,0.0,0.0,0.0
2,7.000000,2015.0,27.0,1.0,0.000000,1.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,75.0,0.0,0.0
3,13.000000,NaN,27.0,1.0,0.000000,1.000000,1.0,NaN,0.0,0.0,0.0,0.0,0.0,304.0,0.0,75.0,0.0,0.0
4,14.000000,NaN,NaN,1.0,0.000000,2.000000,2.0,NaN,0.0,0.0,0.0,0.0,0.0,240.0,0.0,98.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182872,224.337762,NaN,NaN,NaN,19.005545,19.819823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182873,390.141963,NaN,NaN,NaN,14.751794,19.989726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182874,230.689826,NaN,NaN,NaN,11.409496,20.461372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182875,304.888534,NaN,NaN,NaN,16.744472,15.400773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182876,341.238166,NaN,NaN,NaN,17.791486,24.442690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
df['is_repeated_guest'].value_counts()

is_repeated_guest
0.0    110730
1.0      3646
Name: count, dtype: int64

## Gestión de nulos

Columnas categóricas

In [92]:
nulos_esta_cat = df[df.columns[df.isnull().any()]].select_dtypes(include = "O").columns

In [ ]:
# sacamos el 'value_counts()' de cada una de las columnas categóricas que tienen nulos para saber como es la distribución de sus categorías
for col in nulos_esta_cat:
    print(f"La distribución de las categorías para la columna {col.upper()}")
    display(df[col].value_counts() / df.shape[0])  # display es una función utilizada para mostrar objetos de manera más legible en Jupyter Notebooks o entornos similares. 
    print("........................")

In [94]:
columnas_categoricas = df.select_dtypes(include = ['object'])

In [95]:
def reemplazar_nulos_con_unknown(df, columnas_originales):
    for columna in columnas_originales:
        df[columna].fillna('unknown', inplace=True)
    return df

In [100]:
reemplazar_nulos_con_unknown(df, columnas_categoricas)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,False,342.000000,2015.0,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,PRT,unknown,Direct,0.0,NaN,0.0,C,C,3.0,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00
1,Resort Hotel,False,737.000000,NaN,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,unknown,unknown,Direct,0.0,0.0,0.0,unknown,C,4.0,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00
2,Resort Hotel,False,7.000000,2015.0,July,27.0,1.0,0.000000,1.000000,1.0,0.0,0.0,BB,GBR,unknown,Direct,0.0,0.0,0.0,A,C,0.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00
3,Resort Hotel,False,13.000000,NaN,July,27.0,1.0,0.000000,1.000000,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00
4,Resort Hotel,False,14.000000,NaN,July,NaN,1.0,0.000000,2.000000,2.0,NaN,0.0,BB,unknown,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182872,unknown,unknown,224.337762,NaN,unknown,NaN,NaN,19.005545,19.819823,NaN,NaN,NaN,unknown,unknown,unknown,unknown,NaN,NaN,NaN,unknown,unknown,NaN,NaN,NaN,unknown,NaN,NaN,NaN,unknown,unknown
182873,unknown,unknown,390.141963,NaN,unknown,NaN,NaN,14.751794,19.989726,NaN,NaN,NaN,unknown,unknown,unknown,unknown,NaN,NaN,NaN,unknown,unknown,NaN,NaN,NaN,unknown,NaN,NaN,NaN,unknown,unknown
182874,unknown,unknown,230.689826,NaN,unknown,NaN,NaN,11.409496,20.461372,NaN,NaN,NaN,unknown,unknown,unknown,unknown,NaN,NaN,NaN,unknown,unknown,NaN,NaN,NaN,unknown,NaN,NaN,NaN,unknown,unknown
182875,unknown,unknown,304.888534,NaN,unknown,NaN,NaN,16.744472,15.400773,NaN,NaN,NaN,unknown,unknown,unknown,unknown,NaN,NaN,NaN,unknown,unknown,NaN,NaN,NaN,unknown,NaN,NaN,NaN,unknown,unknown
182876,unknown,unknown,341.238166,NaN,unknown,NaN,NaN,17.791486,24.442690,NaN,NaN,NaN,unknown,unknown,unknown,unknown,NaN,NaN,NaN,unknown,unknown,NaN,NaN,NaN,unknown,NaN,NaN,NaN,unknown,unknown

Columnas numéricas

Cambiar float a int

In [ ]:
columna = ['adults', 'babies','children']

In [ ]:
def float_a_int(dataframe, columna):
    dataframe[columna] = dataframe[columna].astype(int)
    return df

In [ ]:
float_a_int(df, columna)